table {
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

td {
  background-color: royalblue;
}

.diag {
  background-color: darkblue;
}
